<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>post result</title>
</head>
<body>
<h1>수신처등록 목록보기</h1>
<hr>

<div class="container" align="center">
		<h1></h1>
		<table id="example" class="table table-striped table-bordered"
			style="width: 100%">
			<thead>
				<th>수신처번호</th>
				<th>고객id</th>
				<th>고객이름</th>
				<th>전화번호</th>
				<th>우편번호</th>
				<th>고객주소</th>
				<th>상세주소</th>
				<th>참고주소</th>
			</thead>
			<tbody>
				{% for destination in destinationList %}
				<tr>
					<td><a href="#">{{destination.id}}</a></td>
					<td><a href="#">{{destination.customid}}</a></td>
					<td>{{destination.name}}</td>
					<td>{{destination.tel}}</td>
					<td>{{destination.postcode}}</td>
					<td>{{destination.address}}</td>
					<td>{{destination.detailAddress}}</td>
					<td>{{destination.extraAddress}}</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfooter>
			<thead>
				<th>수신처번호</th>
				<th>고객id</th>
				<th>고객이름</th>
				<th>전화번호</th>
				<th>우편번호</th>
				<th>고객주소</th>
				<th>상세주소</th>
				<th>참고주소</th>
			</thead>
			</tfooter>

		</table>
		<button type="button" class="btn btn-primary"
			onclick="location.href='/index/'">메인</button>
	</div>






</body>
</html>